.page-node-4 #page-title {
  display: none;
}

.page-node-4 .field-type-text-with-summary img {
  float: left;
  margin-right: 50px;
  margin-bottom: 100px;
}

.page-node-4 .field-type-text-with-summary .field-items {
  margin-right: 40px;
}

.page-node-4 .about-space {
  margin-top: 40px;
}

.page-node-4 .region-content-inner {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.page-node-4 .right-column {
  float: left;
  width: 336px;
}
