.page-node-4 #page-title {
  display: none;
}

.page-node-4 .field-type-text-with-summary img {
  margin-bottom: 22px;
}

.page-node-4 .about-space {
  margin-top: 40px;
}

.left-column {
  float: left;
  width: 400px;
}

.right-column {
  float: right;
}

.page-node-4 h2 {
  margin-bottom: 0px;
}

.page-node-4 .left-column a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: underline;
}