/*............. Author info box ..............*/
#block-boxes-blog-node-sidebar-second {
  background: #ebebeb;
  padding: 15px;
  padding-bottom: 25px;
}

#block-boxes-blog-node-sidebar-second img {
  border: solid 6px #fff;
}

#boxes-box-blog_node_sidebar_second p {
  line-height: 15px;
}

.context-blog #zone-content,
.node-type-blog #zone-content,
.context-archive #zone-content  {
  padding-top: 20px;
}

.node-type-blog .written-by {
  font-family: verdana; 
  font-size: 12px; 
  font-weight: bold;
  font-style: italic;
  color: #3b3b3b;
}

/*...............sidebar links to posts ......................*/

/* Archive blog list */
#block-views-archive-block {
  background: #f9f9f9;
  padding: 10px 20px;
}

#block-views-archive-block li {
  margin-left: 0;
}

#block-views-archive-block a {
  font-size: 11px;
  font-weight: 200;
  color: #5D5D5D;
}

/* Recent Blog posts */
#block-views-blog-recent-posts-block {
  background: #f9f9f9;
  padding: 10px 20px 20px 20px;
}

#block-views-blog-recent-posts-block a {
  font-size: 11px;
  font-weight: 200;
  color: #5D5D5D;
}

#block-views-blog-recent-posts-block .views-row {
  margin-bottom: 5px;
}

/* Blog node second sidebar */
#block-boxes-blog-node-sidebar-second .block-title {
  margin-bottom: 3px;
}
#boxes-box-blog_node_sidebar_second p {
  margin-bottom: 0;
}

/* Blog nodes */
.node-type-blog #page-title {
  display: none;
}

.node-type-blog .field-name-field-blog-image {
  float: left;
  padding: 0 20px 11px 0;
}

.node-type-blog #region-sidebar-first h2 {
  margin-bottom: 0;
}

.node-type-blog .field-name-post-date {
  font-family: verdana; 
  font-size: 12px; 
  font-style: italic;
  color: #a6a6a6; 
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: -7px;
}

/*Blog overview page*/
.view-blog-overview-page .views-row,
.context-archive #block-system-main .views-row  {
  margin-bottom: 30px;
  padding: 0 20px;
}

.view-blog-overview-page {
  margin-top: 10px;
}

.view-blog-overview-page .views-field-created,
.view-archive .views-field-created  {
  border-bottom: solid 1px #f1f1f1 ;
  font-family: verdana; 
  font-size: 12px; 
  font-style: italic;
  color: #a6a6a6; 
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: -5px;
}

.view-blog-overview-page p,
.view-archive p {
  margin: 0;
}

#block-boxes-blog-node-sidebar-second h2 {
 margin-top: 15px;
 text-align: center;
}

#block-boxes-blog-node-sidebar-second p {
  margin-top: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

.node-type-blog #block-system-main p {
  line-height: 20px;
}

.node-type-blog #block-system-main .node-blog {
  padding: 0 18px;
}

.context-archive  #page-title {
  font-size: 18px;
  margin-bottom: 13px;
  padding-left: 20px;
}