.page-node-10 .submitted {
  display: none;
}

.page-node-10 .form-textarea-wrapper { 
  width: 397px;
}

.page-node-10 .field-type-text-with-summary {
  margin-bottom: 20px;
  width: 397px;
}

.page-node-10 #page-title {
  display: none;
}

.page-node-10 #region-content {
  margin-top: 20px;
}

label {
  font-size: 12px;
}

.page-node-10  .tabs {
  display: none;
}

#boxes-box-contact_page_image {
  margin-top: 50px;
  margin-left: 10px;
}

.page-node-10 .region-content-inner {
  margin-top: 30px;
  margin-left: 43px;
  margin-right: 30px;
}

 .page-node-10 .webform-component #edit-submitted-name,
.page-node-10 .webform-component #edit-submitted-email {
  width: 397px;
}