/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@font-face {
  font-family: "chunkfive";
  src: url("../images/Chunkfive.otf")
}

body {
  background: #2b2a28;
}

.account strong {
  color: #8ed700;
}

#zone-branding,
#zone-menu,
#zone-content,
#zone-postscript {
  background: #fff;
}


/* footer */
.space {
  margin-left: 20px;
}

#zone-footer .boxes-box-content {
  float: right;
  margin-right: 10px;
}

#zone-footer .boxes-box-content p {
  color: #676767;
}

#zone-footer {
  background: #212120;
  height: 60px;
}


/* submit button */
#edit-submit {
  background: #222120;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: normal;
  font-family: arial;
  font-size: 14px;
  margin-top: 5px;
  padding: 9px 13px 9px 13px;
  text-shadow: none;
  text-transform: uppercase;
}

/*  pager */
.pager {
  background: none;
  border: none;
  float: right;
}

#page .pager-next,
#page .pager-last,
#page .pager-first,
#page .pager-previous,
#page .pager-ellipsis {
  display: none;
}

#page .pager-current {
  border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
}

#page li {
  font-size: 11px;
  border: none;
  margin-right: 5px;
}

#zone-content {
  padding-bottom: 20px;
}

#section-content {
  min-height: 677px;
  width: 960px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 30px;
}

#page .pager-current {
  background: #222120;
  padding: 8px 12px;
}

#page .pager-item a {
  background: #fff;
  color: #222120;
  font-size: 11px;
  padding: 8px 12px;
}

.context-user .region-content-inner {
  padding: 20px;
}

.webform-component #edit-submitted-name,
.webform-component #edit-submitted-email {
  width: 100%;
}

