/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@font-face {
  font-family: "chunkfive";
  src: url("../images/Chunkfive.otf")
}

body {
  background: #2b2a28;
}

#zone-branding,
#zone-menu,
#zone-content,
#zone-postscript {
  background: #fff;
}

#zone-footer {
  background: #212120;
}

/* footer */

.space {
  margin-left: 20px;
}

#zone-footer .boxes-box-content {
  float: right;
  margin-right: 10px;
}

#zone-footer .boxes-box-content {
  margin-bottom: 4px;
}

#zone-footer .boxes-box-content p {
  color: #676767;
}


/* published works block */
.block-published-works-block {
  background: #F2F2F2;
  padding: 20px 20px 30px 20px;
}

.block-published-works-block .views-field-field-written-for {
  font-family: verdana; 
  font-size:.75em; 
  font-style: italic;
  color: #a6a6a6;
  margin-bottom: 10px;
}

#page .block-published-works-block .view-header a {
  font-family: verdana;
  font-style: italic;
  font-size: 10px;
  color: #222120;
}

#page .block-published-works-block .view-header {
  margin-top: 10px;
}

.block-published-works-block h2 {
  font-size: 20px;
}

#zone-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* browse menu */
.block-browse-menu-block { 
  border-right: #f1f1f1 solid 1px;
  min-height: 250px;
  padding: 20px 20px 30px 20px;
}

.block-browse-menu-block .views-field-field-written-for {
  font-family: verdana; 
  font-size:.75em; 
  font-style: italic;
  color: #a6a6a6;
  margin-bottom: 10px;
}
