p { 
  font-family: verdana; 
  font-size: 11px; 
  color: #a6a6a6; 
  margin-bottom: 10px;  
}

.page a,
.page a:link,
.page a:visited {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  color: #222120;
  text-decoration: none;
}

h1, h2, #page h2 a { 
  margin: 0px; 
  font-family: chunkfive;  
  font-size: 30px;  
  letter-spacing: .5px; 
  font-weight: normal;
  line-height: 26px; 
  margin-bottom: 5px; 
  color: #222120; 
}

strong { 
  font-family: verdana; 
  font-size: 12px; 
  font-weight: bold; 
  color: #222120;
}

#page .read-more a,
#page a.read-more {
  font-family: verdana;
  font-style: italic;
  font-size: 10px;
  color: #222120;
}

#page a:hover {
  text-decoration: underline;
} 